# Подготовка данных о российских праздниках и выходных

### Источник  – [Открытые Данные России](https://data.gov.ru/opendata/resource/8ba5011a-233e-4e01-a1d2-ff5598d0f34f#2/0.0/0.0)

In [36]:
import pandas as pd

In [37]:
holidays = pd.read_csv('https://raw.githubusercontent.com/DizGracee/hse-ml-compete/main/holidays_raw.csv')

In [38]:
holidays = holidays[(holidays['Год/Месяц'] >= 2013) & (holidays['Год/Месяц'] <= 2015)]

In [39]:
holidays2 = holidays.iloc[:, 1:-5]

In [40]:
y2013 = holidays2.loc[14]
y2014 = holidays2.loc[15]
y2015 = holidays2.loc[16]

In [41]:
y2013 = y2013.apply(lambda x: x.replace('*', '').split(','))
y2014 = y2014.apply(lambda x: x.replace('*', '').split(','))
y2015 = y2015.apply(lambda x: x.replace('*', '').split(','))

In [42]:
dates = []
for i in range(len(y2013)):
    for j in range(len(y2013[i])):
        dates.append(f'{y2013.index[i]} {y2013[i][j]}')
for i in range(len(y2014)):
    for j in range(len(y2014[i])):
        dates.append(f'{y2014.index[i]} {y2014[i][j]}')
for i in range(len(y2015)):
    for j in range(len(y2015[i])):
        dates.append(f'{y2015.index[i]} {y2015[i][j]}')

In [43]:
for i in range(len(dates)):
    if len(dates[i][dates[i].find(' ')+1:]) == 1:
        dates[i] = dates[i].replace(' ', ' 0')
    dates[i] = dates[i].split(' ')

In [44]:
month = []
day = []
for i in range(len(dates)):
    month.append(dates[i][0])
    day.append(dates[i][1])
for i in range(len(month)):
    if month[i] == 'Январь':
        month[i] = '01'
    elif month[i] == 'Февраль':
        month[i] = '02'
    elif month[i] == 'Март':
        month[i] = '03'
    elif month[i] == 'Апрель':
        month[i] = '04'
    elif month[i] == 'Май':
        month[i] = '05'
    elif month[i] == 'Июнь':
        month[i] = '06'
    elif month[i] == 'Июль':
        month[i] = '07'
    elif month[i] == 'Август':
        month[i] = '08'
    elif month[i] == 'Сентябрь':
        month[i] = '09'
    elif month[i] == 'Октябрь':
        month[i] = '10'
    elif month[i] == 'Ноябрь':
        month[i] = '11'
    else:
        month[i] = '12'

In [45]:
ind = []
for i in range(1, len(month)):
    if month[i] == '01' and month[i-1] == '12':
        ind.append(i)

In [46]:
year = []
for i in range(123):
    year.append('2013')
for i in range(123):
    year.append('2014')
for i in range(123):
    year.append('2015')

In [56]:
holidays_final = pd.DataFrame({'year': year, 'month': month, 'days': day})
holidays_final = holidays_final.groupby(['year', 'month']).agg({'days': 'count'}).reset_index()
holidays_final

    year month  days
0   2013    01    14
1   2013    02     9
2   2013    03    12
3   2013    04     8
4   2013    05    14
5   2013    06    12
6   2013    07     8
7   2013    08     9
8   2013    09     9
9   2013    10     8
10  2013    11    10
11  2013    12    10
12  2014    01    14
13  2014    02     9
14  2014    03    12
15  2014    04     9
16  2014    05    13
17  2014    06    12
18  2014    07     8
19  2014    08    10
20  2014    09     8
21  2014    10     8
22  2014    11    12
23  2014    12     8
24  2015    01    16
25  2015    02     9
26  2015    03    10
27  2015    04     9
28  2015    05    14
29  2015    06    10
30  2015    07     8
31  2015    08    10
32  2015    09     8
33  2015    10     9
34  2015    11    11
35  2015    12     9

In [49]:
#holidays.to_csv('holidays.csv', index=False)